!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title LunchOrdering
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .container
      %nav.navbar.navbar-default
        .container-fluid
          .navbar-header
            %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
              %span.sr-only Toggle navigation
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
            = link_to "Lunch Ordering", root_path, class: 'navbar-brand'
          #navbar.navbar-collapse.collapse
            %ul.nav.navbar-nav.navbar-right
              - if user_signed_in?
                %li{class: is_active?(dashboard_path) + is_active?(root_path)}
                  = link_to "Dashboard", dashboard_path
                %li{class: is_active?(edit_user_registration_path)}
                  = link_to "Profile", edit_user_registration_path
                %li{class: is_active?(course_types_path)}
                  = link_to "Course types", course_types_path
                %li{class: is_active?(courses_path)}
                  = link_to "Menu", courses_path
                %li{class: is_active?(users_path)}
                  = link_to "Users", users_path
                %li{class: is_active?(orders_path)}
                  = link_to "Orders", orders_path
                %li
                  = link_to "#{current_user.name} Logout", destroy_user_session_path
              - else
                %li{class: is_active?(new_user_session_path)}
                  = link_to "Login", new_user_session_path

    .container
      .row
        - flash.each do |type, message|
          %div{:class => "alert #{alert_class_for(type)} alert-dismissible fade in"}
            %button.close{"data-dismiss" => "alert", :type => "button"}
              %span{"aria-hidden" => "true"} ×
              %span.sr-only Close
            = message

        = yield

      .row
        %hr
        %footer.footer
          %p &copy; Belkot Oleh 2015
        = debug(params) if Rails.env.development?
